<div class="row">
  <div class="col s8 offset-s2 m6 offset-m3">
    <h2 class="center">Connexion</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="card-panel">

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email"
                 class="form-control"
                 id="email"
                 formControlName="email">
          <div [hidden]="email?.valid || email?.pristine"
               class="card-panel red accent-3">
            Un email valide est requis
          </div>
        </div>

        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password"
                 class="form-control"
                 id="password"
                 formControlName="password">
          <div [hidden]="password?.valid || password?.pristine"
               class="card-panel red accent-3">
            Le mot de passe est requis
          </div>
        </div>

        @if (errorMessage) {
          <div class="card-panel red accent-3">{{ errorMessage }}</div>
        }

      </div>

      <div class="center section">
        <button [disabled]="!loginForm.valid"
                class="btn waves-effect waves-light">
          Se connecter
        </button>
        <a (click)="goToRegister()" class="btn waves-effect waves-light grey">
          S'inscrire
        </a>
      </div>

    </form>
  </div>
</div>
